body {
  font-family: "Montserrat", sans-serif;
  background-color: #1f1f1f;
  color: #f2f2f2;
}
/* --------------- sidebar style --------------- */
.sidebar {
  height: 100vh;
  background: #2b2b2b;
  padding: 20px;
  transition: transform 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1000;
}
.sidebar.hidden {
  transform: translateX(-100%);
}
.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background 0.3s;
  margin: 5px;
}
.sidebar a:hover {
  background: #dc3545;
  color: white;
  border-radius: 5px;
}

.sidebar .sidebar-link.active {
  background: #dc3545;
  color: white;
  border-radius: 5px;
}
/* ------------------ dashbord style ----------------*/

.main-content {
  margin-left: 250px;
}
#dashboard {
  padding: 20px; 
}

.dashboard-card {
  border-radius: 15px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s; 
  background-color: #2b2b2b;
  color: #f2f2f2;
}

.dashboard-card:hover {
  transform: scale(1.05); 
  cursor: pointer;
}

.card-title {
  display: flex;
  align-items: center; 
}

.card-title i {
  font-size: 24px; 
  margin-right: 10px; 
  color: #dc3545; 
}

.card-text {
  font-size: 2rem; 
  font-weight: bold;
  color: #f2f2f2; 
}

.heading {
  color: #f2f2f2; 
  font-weight: bold;
  text-align: center;
}

/* ------------------- Media query for mobile devices ------------------- */
@media (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.show {
    transform: translateX(0);
  }
  .main-content {
    margin-left: 0;
  }
  .toggle-btn {
    display: block;
    z-index: 1001;
  }
}

/*------------------- navbar style ---------------*/

.navbar-toggler {
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
}
.navbar-toggler-icon {
  width: 1.5rem;
  height: 1.5rem;
}
.navbar {
  background-color: #2b2b2b;
  padding: 12px 0px 12px 0px;
}

/* ------------------- video style ----------------- */

.form-container {
  background-color: #2b2b2b;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  max-width: 1200px;
  width: 1100px;
}

.upload-label{
  margin-right: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
}

#video{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}
.form-control::placeholder{
  color: #f2f2f2;
}

.form-control,
.custom-file-input {
  background-color: #3b3b3b; 
  border: 1px solid #3b3b3b;
  color: #f2f2f2; 
}

.form-control:focus,
.custom-file-input:focus {
  background-color: #4b4b4b;
  border-color: #4b4b4b; 
  box-shadow: none;
  color: #f2f2f2; 
}

.custom-file-input{
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.radio-label {
  margin-right: 15px;
}
.form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

#videoUrlField {
  display: none;
}

/* ------------------ article style ------------------ */
.article {
  width: 1100px;
}
.article h3 {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.content {
  padding: 20px; 
}

.story-card {
  background-color: #2b2b2b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  border: none; 
  border-radius: 10px; 
  padding: 40px;
}

.form-label {
  font-weight: bold;
  color: #f2f2f2;
}

.form-text{
  color:#f2f2f2b0
}

.btn-primary {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-primary:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* ------------------- terms & condition style --------------------*/
.m-heading {
  font-size: 30px;
  color: #f2f2f2;
  font-weight: bold;
}
.TC-heading,
h3 {
  color: #f2f2f2;
  font-size: 23px;
  font-weight: bold;
}
#terms-conditions {
  background: #2b2b2b;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 1100px;
  line-height: 1.6;
}
ul {
  margin-left: 20px;
}
a {
  color: #0056b3;
  text-decoration: none;
}

/* ---------------- logout style --------------- */

#logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh; 
  text-align: center; 
}

#logout h3 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #dc3545; 
}

#logout p {
  line-height: 1.6;
  margin-bottom: 30px;
  color: f2f2f2; 
}

.logout-btn {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 10px 20px;
  font-weight: bold; 
  transition: background-color 0.3s, border-color 0.3s; 
}

.logout-btn:hover {
  background-color: #d90429; 
  border-color: #d90429; 
}

.logout-icon {
  font-size: 60px; 
  color: #dc3545; 
  margin-bottom: 20px;
}
